.je-editor {
    min-height: 100vh;
}

.je-editor .je-edit-mask,
.ant-modal .je-edit-mask{
    opacity: 0.4;
    background: #eee;
    border:1px dashed #999;
    pointer-events:none;
    position:absolute;
    z-index: 100000;
}

.je-view-editor {
    padding:20px;
    min-height: 100vh;
    border-left: 1px solid #ccd;
    border-right: 1px solid #ccd;
}

.je-toolBar {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-left:20px;
}

.je-active-component {
    border: 1px dotted #c00;
}

    .je-prop-editor,
    .je-component-selector {
        background: #f7f7f7;
        padding:12px;
        min-height: 100vh;
    }

    .je-component-selector {
        background: #eee;
    }
    .je-com-item {
        font-size: 16px;
    }

    .je-empty-container {
        background: #f1f1f1;
        padding:10px;
        margin: 10px;
    }

.je-component-container {
    padding: 5px;
}
